
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transpolar - Autos & Transportation Category Bootstrap Responsive Template | Contact :: W3layouts </title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Templates/Transpolar-Starter/assets/css/style-starter.css">
</head>

<body>

    <!-- contacts-5-grid -->
    <div class="w3l-contact-10 py-5" id="contact">
        <div class="form-41-mian pt-md-5 pt-3">
            <div class="container">
                <div class="row contacts-5-grid-main mb-5">
                    <div class="col-lg-6 contacts-5-grid pe-lg-5">
                        <h3 class="title-w3l mb-3">Benimle İletişime Geçin</h3>
                        <p>Lorem ipsum dolor sit amet, cons ectetur adipiscing elitull am aliqu am, velit rutrum dictum lobortis, turpis justo auc tor quam, a auctor lorem odio in nunc.</p>

                        <div class="address-grid d-flex">
                            <i class="fas fa-headset mt-2"></i>
                            <p><a href="tel:+12 324-016-694" class="link1">+90 555 555 55 55</a></p>
                        </div>
                        <div class="address-grid d-flex">
                            <i class="fas fa-envelope"></i>
                            <p class="mt-0"><a href="mailto:mail@example.com" class="link1">deneme@deneme.com</a></p>

                        </div>
                    </div>

                    <div class="col-lg-6 form-inner-cont mt-lg-0 mt-4">
                        <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                            <div class="form-grids">
                                <div class="form-input">
                                    <input type="text" name="w3lName" id="w3lName" placeholder="Adınız *" required="" />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lSubject" id="w3lSubject" placeholder="Soyadınız *" required />
                                </div>
                                <div class="form-input">
                                    <input type="email" name="w3lSender" id="w3lSender" placeholder="Mail Adresi *" required />
                                </div>
                                <div class="form-input">
                                    <input type="text" name="w3lPhone" id="w3lPhone" placeholder="Telefon Numarası *" required />
                                </div>
                            </div>
                            <div class="form-input">
                                <textarea name="w3lMessage" id="w3lMessage" placeholder="Açıklamanızı yazın *" required=""></textarea>
                            </div>
                            <div class="w3-submit text-right">
                                <button class="btn btn-style btn-primary">Mesajı Gönder <i class="fas fa-paper-plane ms-2"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //contacts-5-grid -->
    </div>

    <div class="contacts-sub-5">
        <div class="contacts-mapw3 position-relative">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50036.74998737887!2d27.021105489650385!3d38.38838429085884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbdc3f593e08ab%3A0xe0c497f92491cc5c!2zQmFsw6dvdmEvxLB6bWly!5e0!3m2!1str!2str!4v1678625553031!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="map-content-5">
                <h4 class="title-w3l-adinf mb-3">Address Info</h4>
                <div class="address-grid">
                    <i class="fas fa-map-marker-alt"></i>
                    <p>İzmir - Balçova</p>
                </div>
                <div class="address-grid my-2">
                    <i class="fas fa-envelope"></i>
                    <p><a href="mailto:mail@example.com" class="link1">deneme@deneme.com</a></p>

                </div>
                <div class="address-grid">
                    <i class="fas fa-phone-alt"></i>
                    <p><a href="tel:+12 324-016-695" class="link1">+90 555 555 55 55</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Template JavaScript -->
    <script src="~/Templates/Transpolar-Starter/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Templates/Transpolar-Starter/assets/js/theme-change.js"></script>
    <!-- //bootstrap -->
    <script src="~/Templates/Transpolar-Starter/assets/js/bootstrap.min.js"></script>

</body>

</html>
